@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 9px;
    --upbyte: 15 100% 64;

    --site-background: 0 0% 95%;
    --card-background: 0 0% 100%;
    --primary: 0 0% 0%;
    --secondary: 0, 0%, 0%, 0.08;
    --destructive: 0 100% 49%;
    --border: 0, 0%, 0%, 0.06;
    --divider: 0, 0%, 0%, 0.1;
    --text-muted: 0, 0%, 0%, 0.4;
    --text-current: 0 0% 100%;
  }

  .dark {
    --site-background: 0 0% 16%;
    --card-background: 0 0% 0%;
    --primary: 0 0% 100%;
    --secondary: 0, 0%, 100%, 0.08;
    --destructive: 359 100% 61%;
    --border: 0, 0%, 100%, 0.06;
    --divider: 0, 0%, 100%, 0.1;
    --text-muted: 0, 0%, 100%, 0.4;
    --text-current: 0 0% 0%;
  }
}

@layer base {
  * {
    @apply scrollbar-custom;
  }
  html {
    @apply scroll-smooth bg-site font-sans antialiased overflow-y-scroll;
  }
}

@layer utilities {
  .scrollbar-custom {
    scrollbar-color: #c7c7c7 transparent;
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
