@font-face {
  font-family: "SerifFont";
  src: url("/fonts/serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SansFont";
  src: url("/fonts/sans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MonoFont";
  src: url("/fonts/mono.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tape-font-serif: "SerifFont", ui-serif, serif;
    --tape-font-sans: "SansFont", ui-sans-serif, system-ui;
    --tape-font-mono: "MonoFont", ui-monospace, monospace;

    --radius: 9px;
    --upbyte: 15 100% 64;
    --scrollbar-thumb: #c7c7c7;

    --site-background: 0 0% 95%;
    --primary: 0 0% 0%;
    --secondary: 0, 0%, 0%, 0.08;
    --destructive: 0 100% 49%;
    --theme: 0 0% 100%;
    --border: 0, 0%, 0%, 0.06;
    --divider: 0, 0%, 0%, 0.1;
    --text-muted: 0, 0%, 0%, 0.4;
  }

  .dark {
    --scrollbar-thumb: #4d4d4d;

    --site-background: 0 0% 16%;
    --primary: 0 0% 100%;
    --secondary: 0, 0%, 100%, 0.08;
    --destructive: 359 100% 61%;
    --theme: 0 0% 0%;
    --border: 0, 0%, 100%, 0.06;
    --divider: 0, 0%, 100%, 0.1;
    --text-muted: 0, 0%, 100%, 0.4;
  }
}

@layer base {
  * {
    scrollbar-color: var(--scrollbar-thumb) transparent;
  }
  html {
    @apply scroll-smooth bg-site font-sans antialiased text-primary;
  }
}
