@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 9px;

    --site-background: 0 0% 95%;
    --card-background: 0 0% 100%;
    --primary: 0 0% 0%;
    --text-primary: 0 0% 100%;
    --secondary: 0, 0%, 0%, 0.08;
    --text-secondary: 0 0% 0%;
    --destructive: 0 100% 49%;
    --border: 0, 0%, 0%, 0.06;
    --divider: 0, 0%, 0%, 0.1;
    --text-muted: 0, 0%, 0%, 0.4;
  }

  .dark {
    --site-background: 0 0% 16%;
    --card-background: 0 0% 0%;
    --primary: 0 0% 100%;
    --text-primary: 0 0% 0%;
    --secondary: 0, 0%, 100%, 0.08;
    --text-secondary: 0 0% 100%;
    --destructive: 359 100% 61%;
    --border: 0, 0%, 100%, 0.06;
    --divider: 0, 0%, 100%, 0.1;
    --text-muted: 0, 0%, 100%, 0.4;
  }
}

@layer base {
  html {
    @apply scroll-smooth bg-site font-sans antialiased;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
