@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter var", Helvetica, Arial, sans-serif;
  @apply bg-gray-100 dark:bg-[#010101] dark:text-white text-black min-h-screen;
}
.text-secondary {
  @apply text-gray-700 dark:text-gray-300;
}
.scale-animation {
  @apply hover:scale-105 duration-100 transform;
}
.bg-secondary {
  @apply dark:bg-[#050506] bg-white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html {
  --plyr-color-main: #15803d;
}