@import url('https://assets.lenstube.xyz/fonts/font.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Matter', sans-serif;
  @apply bg-white dark:bg-black dark:text-white text-black min-h-screen;
}
.text-secondary {
  @apply text-gray-700 dark:text-gray-300;
}

.bg-secondary {
  @apply dark:bg-[#050506] bg-white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.middot:after {
  content: '•';
  margin: 0 4px;
  opacity: 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

html {
  --plyr-color-main: #6366f1;
}

/* walletconnect */
.-walletlink-css-reset body {
  @apply !bg-transparent;
}
.walletconnect-modal__mobile__toggle {
  @apply text-gray-900;
}

/* interweave linkify */
.interweave-content a {
  @apply text-indigo-500;
}

.tippy-box[data-theme~='material'] > .tippy-arrow::before {
  transform: scale(0.7);
}
.tippy-box[data-theme~='light'] > .tippy-arrow::before {
  transform: scale(0.7);
}
