@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-white text-black antialiased dark:bg-black dark:text-white;
}

.tape-border {
  @apply border border-[#00000010] dark:border-[#ffffff20];
}

.text-dust {
  @apply text-[#666666] dark:text-[#888888];
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.middot:after {
  content: '•';
  @apply mx-1.5 flex text-[10px] opacity-60;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* interweave linkify */
.interweave-content a {
  @apply text-brand-500;
}

.input-mentions-single {
  @apply min-h-[2rem] w-full;
}
.input-mentions-textarea {
  @apply min-h-[7rem] w-full;
}
.input-mentions-textarea textarea,
.input-mentions-single textarea {
  @apply w-full resize-y rounded-lg border border-gray-300 bg-white px-2.5 pt-0.5 outline-none focus:ring-1 focus:ring-gray-300 disabled:bg-gray-500 disabled:bg-opacity-20 disabled:opacity-60 dark:border-gray-700 dark:bg-gray-900;
}
.input-mentions-textarea__suggestions,
.input-mentions-single__suggestions {
  @apply !mt-8 w-56 rounded-xl !border !bg-white p-1 dark:border-gray-700 dark:!bg-gray-800;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.livepeer-aspect-ratio-container {
  @apply outline-none;
}

/* User Preview tippy override */
.preview-tippy-content > div {
  @apply !px-0 !py-0;
}

#tape-cursor {
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='70' height='70' viewport='0 0 70 70' style='fill:black;font-size:70px;'><text y='70%'>📼</text></svg>")
      16 0,
    auto;
}
