/* theme-config.css */
.radix-themes {
  --default-font-family: var(--font-tape);
}

/* html {
  scrollbar-gutter: stable;
}
body[style] {
  margin: 0 auto !important;
} */
button,
div[type='button'] {
  @apply !cursor-pointer disabled:!cursor-not-allowed;
}
.rt-DialogContent,
.rt-SelectContent,
.rt-HoverCardContent,
.rt-BaseMenuContent {
  @apply dark:!bg-black;
}
