@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-white antialiased;
}
.livepeer-aspect-ratio-container,
.livepeer-contents-container {
  height: inherit !important;
}

button:active {
  animation: button-pop 0.25s ease-out;
}

@keyframes button-pop {
  0% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}
